---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="microphone-stage" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Cantante</h2>
		<p>Unas cosas turbias he tenido por contar</p>
		<p>El misterio de las letras y su lento invocar</p>
		<p>Extracción selecta será saciada la sed en el paladar</p>
		<p>Extracción selecta será saciada la sed en el paladar</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="headphones" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Freestyler</h2>
		<p>En silencio, concentrado y planeaito</p>
		<p>Preguntar, responder, proponer</p>
		<p>Así sonar imperfecto, siempre culminar</p>
		<p>China gira pega jala hello grita kittyyy</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="pencil-line" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Escritor</h2>
		<p>Historias que se narran</p>
		<p>Nuevas frases que te cuentan</p>
		<p>Las que brillan y se ocultan bajo tierra</p>
		<p>Mundo submarino de Nesvier</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
